+b.mounts
	+e.__bg
		picture
			source(media="(max-width: 767px)" srcset=`images/mounts-mob-bg.jpg`)
			source(media="(min-width: 768px)" srcset=`images/mounts-bg.jpg`)
			img.lazy-img(src=`images/whyus-bg.jpg` alt="pic")
	.container
		.row
			.col-12
				+e.__inner
					+b('blockquote').blockquote
						+e.__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus officia, doloribus minima perspiciatis deleniti tempora eligendi nisi rem blanditiis suscipit amet quibusdam iste dolor laudantium voluptates, fugit excepturi cum.
						+e.__name Mordechai Demachue
