+b('a').banner(href='#' style='background-color: #662d91')
	.container
		.row
			.col-12
				+e.__inner
					+e.__bg
						img(src="images/banner-bg.jpg", alt="pic")
					+e.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
