+b('aside').sidebar

	+e.__list
		+b.sidebar-box
			+e.__title Process Breakdown
			ul.list
				li.fw700 1. Pay deposit NOW to secure your spot
				li 2. We'll send you a form for the rest of the details later
				li 3. Pay balance 45 days defore the trip
				li 4. Time to travel!
			b Extra Marketing Blurb Does in here. Because.
		.sidebar-box
			p For: #[b 2 Adults, 3 Children Goobligook 2k, Imprerial Level for 2]
			p Pay now: #[b 2500$ + 400$]
			p Estimated Total: #[b 12,575$]
			p Final Price would be determined by complete information delivered later

	+e.__action
		a.btn.btn--sm.btn--outline(href="#") Cancellation Policy
		a.btn.btn--sm.btn--green.fw900(href="#") Ask us anything
