-
	var pages = [
		{name: 'index', link: 'index'},
		{name: 'registration - complete', link: 'registration-complete'},
		{name: 'registration - error', link: 'registration-error'},
		{name: 'registration - upsale', link: 'registration-upsale'},
		{name: 'registration - stage one', link: 'registration-stage1'},
		{name: 'registration - stage one over', link: 'registration-stage1over'},
		{name: 'blog archive', link: 'blog-archive'},
		//- {name: 'blog archive1', link: 'blog-archive1'},
		//- {name: 'blog archive2', link: 'blog-archive2'},
		{name: '404', link: '404'},
	]



+b.pages-viget

	+e.__menu
		+e('ul').__menu-list

			each item in pages
				+e('li').__menu-item
					+e('a').__menu-link(href= './' + item.link + '.html')= item.name

	+e.__btn
		.media-pointer
