+b.pd-block
	+e.__title
		.row
			.col-12
				h3.color-red Ho no! something went Wrong!
	.row
		.col-xl-6
			p Something in the credit-card process had horribly darn ducked up!
			p But! not all is lost! A squad of cyber-samurai had preserved your request and are even now on-route to one of our loyal helpers.
			p Which will send the fastest contact-ravens your way the moment they have ascertained all details. Your position is reserved, worry not noble traveler.
			p In addition, a mail was sent to your provided address, so you'd have all details safely secured.
			br
			p With the highest regards, the Via Sabra CyberSamurai Team.
			br
		.col-xl-6
			.yellow-block
				ul.list
					li 1. Form Failed, display sort of error
					li 2. Send email with details and error to Client
					li 3. Send explanation email to Visitor
					li 4. Storm the gates.
