+b.pd-block
	+e.__title
		.row
			.col-12
				h3 Payment Details
	.row
		.col-xl-6
			p Payment form
			br
		.col-xl-6
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sapiente vero natus cupiditate, repellendus tempore nostrum necessitatibus sint at numquam voluptatibus aut neque eaque harum veritatis iste magni debitis. Commodi?
			br
			br
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, sapiente vero natus cupiditate, repellendus tempore nostrum necessitatibus sint at numquam voluptatibus aut neque eaque harum veritatis iste magni debitis. Commodi?
