extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'index'
	- var dir = './'
	- var layout = ''


block main
	include ../blocks/hero/hero





block popups
