extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'index'
	- var dir = './'
	- var layout = ''


block main
	include ../blocks/hero/hero
	include ../blocks/whyus/whyus
	include ../blocks/beach/beach
	include ../blocks/adventure/adventure
	include ../blocks/mounts/mounts


block popups
