extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Registration One Over'
	- var dir = './'
	- var layout = ''


block main
	p 123


block popups
