// Grid breakpoints
$lg: 1350px;
$md: 768px;

$gutter: 30px;

$grid-breakpoints: (
	xs: 0,
	// sm: $sm,
	md: $md,
	lg: $lg,
	// xl: $xl
);

// Fonts types
$c-size: 16px;
$font-main: 'Nunito', sans-serif;
$font-sec: 'Titillium', sans-serif;

// Colors
$c-main:		#ffec00;
$c-sec:			red;
$c-bg:			#F5F6F8;
$c-text:		#000;
$trp:			transparent;
