+b.blog
	.container
		.row
			.col-xl-8.col-md-6
				+card-blog({
					bg: 'blog-bg-1.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ',
				})
			.col-xl-4.col-md-6
				+card-blog({
					bg: 'blog-bg-2.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ',
				})
	include ../banner/banner
	.container
		.row
			.col-lg-4.col-md-6
				+card-blog({
					bg: 'blog-bg-3.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ',
				})
			.col-lg-4.col-md-6
				+card-blog({
					bg: 'blog-bg-4.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ',
				})
			.col-lg-4.col-md-6
				+card-blog({
					bg: 'blog-bg-5.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ',
				})
			.col-lg-4.col-md-6
				+card-blog({
					bg: 'blog-bg-6.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ',
				})
			.col-lg-8.col-md-12
				+card-blog({
					bg: 'blog-bg-1.jpg',
					title: 'Taking a Trip through Neverwhere This is throught the never Really long title',
					name: 'By: Lombard Swambaticon',
					descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. ',
				})
