.fprogress
	$this: &
	display: flex
	justify-content: space-between
	margin: 0 0 23px
	padding: 0 0 22px
	border-bottom: 1px solid #000

	+media($md)
		flex-direction: column
		justify-content: center
		align-items: flex-start

	&__item
		position: relative
		flex: 1 0 130px
		max-width: 130px

		+media($md)
			display: flex
			align-items: center
			flex: 1 0 100%
			max-width: 100%
			width: 100%

		&:not(:last-child)

			+media($md)
				margin-bottom: 15px

		&.active

			#{$this}__icon

				&::after
					background: url('../images/map-marker.svg') no-repeat 50% 50%
					background-size: cover

			#{$this}__line
				background-color: #d1d2d7
				background-image: linear-gradient(90deg, #5d6174, #d1d2d7)

		&.active ~ *

			#{$this}__pic

				&::after
					right: 8px
					background: url("data:image/svg+xml,%3Csvg width='10' height='22' viewBox='0 0 10 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 14V8H9.30589C5.05348 8 1.61022 4.71897 9.15527e-05 0.783173V21.2168C1.61022 17.281 5.05347 14 9.30589 14H10.0001Z' fill='%23d1d2d7'/%3E%3C/svg%3E") no-repeat 50% 50%
					background-size: cover

					+media($md)
						transform-origin: -14px 0
						transform: rotate(90deg) translate(6px, -16px)

				&::before
					left: 8px
					background: url("data:image/svg+xml,%3Csvg width='10' height='22' viewBox='0 0 10 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 14V8H9.30589C5.05348 8 1.61022 4.71897 9.15527e-05 0.783173V21.2168C1.61022 17.281 5.05347 14 9.30589 14H10.0001Z' fill='%23d1d2d7'/%3E%3C/svg%3E") no-repeat 50% 50%
					background-size: cover

					+media($md)
						transform-origin: -14px 0
						transform: rotate(-90deg) translate(-17px, 22px)

			#{$this}__icon
				+sizeblock(26px)
				background-color: #d1d2d7

				&::after
					display: none

				&::before
					+pseudo
					+sizeblock(10px)
					+center
					+circle
					background-color: #fff

			#{$this}__line
				background-color: #d1d2d7

		&.error

			&::before
				+pseudo
				+sizeblock(50px)
				top: -35px
				left: 53px
				background: url('../images/progress-error.png') no-repeat 50% 50%
				background-size: cover

				+media($md)
					top: -30px
					left: 30px

		&:first-child

			#{$this}__pic

				&::before
					display: none

		&:last-child

			#{$this}__pic

				&::after
					display: none


	&__pic
		position: relative
		display: flex
		align-items: center
		justify-content: center
		+sizeblock(54px)
		margin: 0 auto 12px
		// filter: url("#goo")
		z-index: 5

		+media($md)
			margin: 0 20px 0 0

		&::after
			+pseudo
			+sizeblock(10px, 22px)
			top: 16px
			right: -8px
			background: url("data:image/svg+xml,%3Csvg width='10' height='22' viewBox='0 0 10 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 14V8H9.30589C5.05348 8 1.61022 4.71897 9.15527e-05 0.783173V21.2168C1.61022 17.281 5.05347 14 9.30589 14H10.0001Z' fill='%235d6174'/%3E%3C/svg%3E") no-repeat 50% 50%
			background-size: cover
			z-index: -5

			+media($md)
				transform-origin: -14px 0
				transform: rotate(90deg) translate(22px, 0)

		&::before
			+pseudo
			+sizeblock(10px, 22px)
			top: 16px
			left: -8px
			transform: scale(-1, 1)
			background: url("data:image/svg+xml,%3Csvg width='10' height='22' viewBox='0 0 10 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0001 14V8H9.30589C5.05348 8 1.61022 4.71897 9.15527e-05 0.783173V21.2168C1.61022 17.281 5.05347 14 9.30589 14H10.0001Z' fill='%235d6174'/%3E%3C/svg%3E") no-repeat 50% 50%
			background-size: cover
			z-index: -5

			+media($md)
				transform-origin: 14px 0
				transform: rotate(-90deg) translate(28px, 10px)

	&__line
		position: absolute
		+sizeblock(230px, 6px)
		+hcenter
		left: 50%
		background-color: #5d6174
		z-index: -10

		+media($xl)
			width: 130px

		+media($lg)
			width: 200px

		+media($md)
			width: calc(100% + 15px)
			transform-origin: 0 50%
			transform: translate(0, -50%) rotate(90deg)

	&__icon
		position: relative
		+sizeblock(54px)
		background-color: #5d6174
		+circle
		z-index: 4

		&::after
			+pseudo
			+sizeblock(30px)
			+center
			background: url('../images/check.svg') no-repeat 50% 50%
			background-size: cover

	&__title
		font-weight: 700
		text-align: center


.hidden-svg
	position: absolute
	left: -100000px
