+b.adventure
	.container
		+e.__inner

			+e.__head
				+e.__head-col.--left.active
					+e.__head-title Join in
					+e.__head-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maxime, natus excepturi delectus perferendis debitis
				+e.__head-toggler
					+stoggler()
				+e.__head-col.--right
					+e.__head-title Plant it
					+e.__head-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maxime, natus excepturi delectus perferendis debitis

			+e.__body
				+e.__list-title Go on an adventure
				+e.__side-1
					+e.__list
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
				+e.__side-2(style='display: none;')
					+e.__list
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
						+card-vanta({
							pic: 'card-vanta-1.jpg',
							title: 'Wine is great, lets go find some',
						})
